
*.xcuserstate

Frames Sharing/Frames Sharing.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Frames Sharing/Frames Sharing.xcodeproj/xcuserdata/injahta.xcuserdatad/xcschemes/Frames Sharing.xcscheme

Frames Sharing/Frames Sharing.xcodeproj/xcuserdata/injahta.xcuserdatad/xcschemes/xcschememanagement.plist
